/* .chat-message {
    max-width: 75%;
    margin-bottom: 1rem;
} */

.question{
    text-align: right;
    background-color: #e5e7eb;
    border-radius: 1rem 1rem 0 1rem;
}

.answer {
    text-align: left;
    background-color: #f9fafb;
    border-radius: 1rem 1rem 1rem 0;
}

textarea {
    resize: none;
}