<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/ktalk/style.css">
    <title>Chatbot for Korean Language Learning</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .chat-message {
            max-width: 75%;
            margin-bottom: 1rem;
        }
        .question {
            justify-self-end;
            background-color: #e5e7eb;
            border-radius: 1rem 1rem 0 1rem;
        }
        .answer {
            justify-self-start;
            background-color: #f9fafb;
            border-radius: 1rem 1rem 1rem 0;
        }
    </style>
</head>
<body>
    <div class="mobile-container">
        <div class="left-panel">
            <div>
                <button><a href="{% url 'ktalk:theme' %}">theme 목록 보러 가기</a></button>
            </div>
            <!-- Theme List -->
            {% for theme in themelist %}
                <!-- Each theme name is a link to its conversation page -->
                <div class="theme-item p-2 bg-white rounded-lg shadow cursor-pointer">
                    <a href="{% url 'ktalk:index_with_theme' theme.id %}">{{ theme.name }}</a>
                </div>

            {% endfor %}

        </div>
        <div class="right-panel">
            <!-- Conversation List -->
            <div class="conversation-list">
                <!-- Render each conversation here -->
                {% if Conversations is False %}
                <p>Start your conversation</p>
                {% endif %}
                {% for question, answer in conversations %}
                    <div class="conversation-item">
                        <div class="question">{{ question.content }}</div>
                        <div class="answer">{{ answer.content }}</div>
                    </div>
                {% endfor %}
                {% if theme.conversations.exists %}
                <form action="{% url 'ktalk:delete_conversation'%}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <!-- Hidden input to hold the theme's id -->
                    <input type="hidden" name="theme_id" value="{{ theme.id }}">
                    <button type="submit">Delete All Conversations</button>
                </form>
                {% endif %}
            </div>
            <!-- Input Area -->
            <div class="input-area">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="theme_id" id="selected-theme-id" value="">
                    <textarea name="message" rows="4" placeholder="Type your message..."></textarea>
                    <button type="submit" class="submit-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
